<!doctype html>
<html>

<head>

	<title>Energy App</title>
	<link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta charset="UTF-8">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{#each jsscripts}}
    <script src="/{{this}}"></script>
    {{/each}}
</head>


<body>
	<div id="wrapper">
		<div id="container">
			<div class="row">
				<div class="col-3 col-m-9 col-p-8 bottom-margin-20px">
					<a style="text-decoration: none" href="/">
						<div id="siteTitle">
							Energy App
						</div>
					</a>
				</div>
				<div class="nav-wrapper col-9 col-m-3 col-p-4">
					<div class="topNav" id="nav">
						<a href="javascript:void(0);" class="icon" onclick="dropdown()">&#9776;</a>
						<a href="/">Home</a>
						<a href="/login">Login</a>
						<a href="/settings">Settings</a>
						<a href="/devices">Devices</a>
						<a href="/faq">FAQ</a>
					</div>
				</div>
			</div>

			{{{body}}}

			<div id="footer">

				<div class="row">
					<div class="col-6 col-m-6 col-p-12 padding-20">
						<p>
							<strong>Site Navigation</strong>
						</p>
						<a href="/" style="text-decoration: none;">Home</a>
						<br>
						<br>
						<a href="/login" style="text-decoration: none;">Login</a>
						<br>
						<br>
						<a href="/settings" style="text-decoration: none;">Settings</a>
						<br>
						<br>
						<a href="/devices" style="text-decoration: none;">Devices</a>
						<br>
						<br>
						<a href="/faq" style="text-decoration: none;">FAQ</a>
						<br>
						<br>
						

					</div>

					<div class="col-6 col-m-6 col-p-12 padding-20">
						<p>
							<strong>Info</strong>
						</p>
						PO Box 11111<br>
						Somewhere, MT 11111
						<br>
						<br>
						<a style="text-decoration: none;" href="mailto:test@oregonstate.edu" target="_blank">test@oregonstate.edu</a>
						<br>
						<br>
						


					</div>
				</div>

				<div class="row">
					<div class="col-12 col-m-12 col-p-12 top-margin-75">
						<div class="bottomNav">

							<a href="https://www.instagram.com/" target="_blank">
								<span class="social-color">
									<i class="fa fa-instagram fa-3x" style="color: #454545;"></i>
								</span>
							</a>

							<a href="https://www.linkedin.com/" target="_blank">
								<span class="social-color">
									<i class="fa fa-linkedin fa-3x" style="color: #454545;"></i>
								</span>
							</a>

							<a href="https://www.youtube.com/" target="_blank">
								<span class="social-color">
									<i class="fa fa-youtube fa-3x" style="color: #454545;"></i>
								</span>
							</a>

							<a href="https://www.facebook.com/" target="_blank">
								<span class="social-color">
									<i class="fa fa-facebook-square fa-3x" style="color: #454545;"></i>
								</span>
							</a>
							

						</div>
					</div>
					<!-- social media icons -->
				</div>
				<!-- end of row -->

				<div class="row">
					<div class="col-12 col-m-12 col-p-12 top-margin-20px">
						<p id="copyright">&copy; Software Engineering 261 | 2019 
					</div>

				</div>
				<!-- end of footer -->
			</div>
		</div>
		<script src="/global.js"></script>
</body>

</html>