

	<div class="row">

		<div class="col-3 col-m-6 col-p-12 bottom-margin-20px">     
          <div class="row">
            <div class="col-12 col-m-12 col-p-12">     
              <a class="contact-links" href="/login"><img src="images/login.png"></a>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-12 col-m-12 col-p-12">     
                <a class="contact-links" href="/login"><h3>Login</h3></a>
              </div>
            </div>
            <div class="padding-fourty-sides col-12 col-m-12 col-p-12">     

              <p>Login to your account</p>
             

              <p>Display an overview of your devices and energy usage</p>

            </div>
          </div>
        </div>

         <div class="col-3 col-m-6 col-p-12 bottom-margin-20px">     
          <div class="row">
            <div class="col-12 col-m-12 col-p-12">     
              <a class="contact-links" href="/settings"><img src="images/settings.png"></a>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-12 col-m-12 col-p-12">     
                <a class="contact-links" href="/settings"><h3>Settings</h3></a>
              </div>
            </div>
            <div class="padding-fourty-sides col-12 col-m-12 col-p-12">     

              <p>View your user settings</p>
            

              <p>Frequently Asked Questions about the app & sensor device</p>
              

            </div>
          </div>
        </div>


        <div class="col-3 col-m-6 col-p-12 bottom-margin-20px">     
          <div class="row">
            <div class="col-12 col-m-12 col-p-12">     
              <a class="contact-links" href="/devices"><img src="images/lightbulb.png"></a>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-12 col-m-12 col-p-12">     
                <a class="contact-links" href="/devices"><h3>Devices</h3></a>
              </div>
            </div>
            <div class="padding-fourty-sides col-12 col-m-12 col-p-12">     
              <p>Display an overview our your devices and energy usage</p>
            </div>
          </div>
        </div>

        <div class="col-3 col-m-6 col-p-12 bottom-margin-20px">     
          <div class="row">
            <div class="col-12 col-m-12 col-p-12">     
              <a class="contact-links" href="/faq"><img src="images/faq.jpg"></a>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-12 col-m-12 col-p-12">     
                <a class="contact-links" href="/faq"><h3>FAQ</h3></a>
              </div>
            </div>
            <div class="padding-fourty-sides col-12 col-m-12 col-p-12">     
              <p>Frequently Asked Qustions about the app & sensor device</p>
              
            </div>
          </div>
        </div>


       


      </div><!-- end of row -->



