<div class="container">

    <h2 >User Profile</h2>

    <div class="col-md-12">

        <h4>Name</h4>
        <p>
            User Name <a href="/settings/edit" class="btn btn-sm btn-info">Edit User Name</a>
        </p>

        <h4>Email</h4>
        <p>
            User Email 
        </p>

        <h4>Daily Usage</h4>
        <p>
            1000 
        </p>

        <h4>Check Energy Usage Bill Information</h4>
        <p>
            <a href="#">Download PDF Report </a>
        </p>

        <h2 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h2>
        <table class="table table-sm table-hover table-striped">
        
        <tbody>                                    
            <tr>
                <td>
                    <strong>Refrigerator</strong> was added.
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Thermostat</strong> was added.
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Dishwasher</strong> was added.
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Oven</strong> was added.
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>